/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
} */

.containersu {
    display: flex;
    justify-content: space-around;
}

.section1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 20px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .containersu {
        flex-direction: column;
    }

    .section1 {
        width: 100%;
        margin-bottom: 20px;
    }
}
