<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link href="static/css/styles.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        .custom-striped tbody tr:nth-of-type(odd) {
            background-color: #e3f2fd; /* Light blue color */
        }

        .custom-striped tbody tr:nth-of-type(even) {
            background-color: #ffffff; /* White color */
        }
    </style>
</head>

<header>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                <div class="container">
                    <a class="/static/Image/logo.svg" height="32" alt="Flowbite Logo">
                        <span class="ml-3">SajiloCity</span>
                    </a>

                    <!-- Navbar Toggler -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCompany" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Company
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownCompany">
                                    <a class="dropdown-item" href="#">About Us</a>
                                    <a class="dropdown-item" href="#">Our Mission</a>
                                    <a class="dropdown-item" href="#">Values</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Careers</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConnect" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Connect
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownConnect">
                                    <a class="dropdown-item" href="#">About Us</a>
                                    <a class="dropdown-item" href="#">Our Mission</a>
                                    <a class="dropdown-item" href="#">Values</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Careers</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMobility" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mobility
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMobility">
                                    <a class="dropdown-item" href="#">About Us</a>
                                    <a class="dropdown-item" href="#">Our Mission</a>
                                    <a class="dropdown-item" href="#">Values</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Careers</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <form class="d-flex align-items-center">
                        <div class="position-relative w-100">
                            <div class="position-absolute top-0 start-0 d-flex align-items-center ps-3">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="color: #858EAD;">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="form-control ps-5" placeholder="Type here to search..." required="" style="background-color: #F4F6F8; border-color: #F4F6F8; color: #858EAD;">
                        </div>
                    </form>

                    <!-- Profile Dropdown -->
                    <div class="dropdown">
                        <a id="profileContainer"
                            class="dropdown-toggle d-flex items-center gap-3 cursor-pointer mx-2 rounded-full focus:ring-2 hover:ring-2 hover:ring-gray-600 focus:ring-gray-800"
                            href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="rounded-circle" src="https://placekitten.com/40/40" alt="Profile Picture"
                                width="40" height="40">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileContainer">
                            <a class="dropdown-item" href="#">Profile Settings</a>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>

                </div>
            </nav>
</header>
<body>
    {% block content %}{% endblock content %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
