{% extends "fixed.html" %}

{% block content %}
<div class="containersu">
    <div class="section1">
        <form>
            <div class="mb-3">
                <div id="emailHelp" class="form-text" style="font-weight: bold;">Report Pothole
                </div>
            </div>Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
              <form class="max-w-lg mx-auto">
                <div class="form-group">
                    <label class="mb-2 font-weight-bold" for="user_avatar">Upload file</label>
                    <input class="form-control-file" aria-describedby="user_avatar_help" id="user_avatar" type="file">
                </div>
            </form>
            



            
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <div class="section1">
        <form>
            <div class="mb-3">
                <div id="emailHelp" class="form-text" style="font-weight: bold;">Report Pothole</div>
            </div>Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter your description here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}


